 project specific ignores
solveet-simplicity-efficiency-problem-groovy/target/*

solveet-kata-simple-list/target/*
solveet-kata-simple-list/bin/*

solveet-kata-prime-factors/target/*
solveet-kata-prime-factors/bin/*

solveet-kata-tennis/target/*
solveet-kata-tennis/bin/*

solveet-diamond-mine/target/*

solveet-christmas-tree/target/*

solveet-add-positive-numbers/target/*

solveet-twin-primes/bin/*

solveet-pascal-triangle/bin/*

rle-compression/target/*

rle-compression-javascript/target/*

marvellous-mazes/target/*

fast-fibonacci/target/*

russian-olimpics/target/*

senw-route/target/*

loopless-route/target/*
loopless-route/comments.txt
loopless-route-2/target/*
loopless-route-2/comments.txt

hamming-numbers/target/*
hamming-numbers/comments.txt

hamming-numbers-js/target/*
hamming-numbers-js/comments.txt

binary-sum/target/*
binary-sum/comments.txt

spiral-matrix-coords/target/*
spiral-matrix-coords/comments.txt

spiral-matrix/target/*
spiral-matrix/comments.txt

top-right/target/*
top-right/comments.txt

binary-sequence/target/*
binary-sequence/comments.txt

sms/target/*
sms/comments.txt

sql-string-generator/target/*
sql-string-generator/comments.txt

darts-501-js/target/*
darts-501-js/comments.txt

euclidean-distance-py/target/*
euclidean-distance-py/comments.txt

hannoi-js/target/*
hannoi-js/comments.txt

caesar-ciphering-py/comments.txt

kata-code-breaker/target/*
kata-code-breaker/comments.txt

merge-sort-py/comments.txt

happy-number-js/target/*
happy-number-js/comments.txt

brainfuck-interpreter/target/*
brainfuck-interpreter/comments.txt

hannoi-rb/comments.txt

nicomachus-cube-rb/comments.txt

perfect-number-rb/comments.txt

caesar-ciphering-scala/comments.txt

spotify-best-before-scala/comments.txt
spotify-best-before-scala/target/*

merge-sort-scala/target/*
merge-sort-scala/comments.txt



*.class

# Package Files #
*.jar
*.war
*.ear
